<h3><%= @user.username %></h3>
<% if @user.is_moderator %>
  <strong>Moderator</strong>
<% end %>
<hr>

<dl class="dl-horizontal">
  <dt>Member Since:</dt>
  <dd> <%= @user.created_at.strftime("%b %e, %Y") %> </dd>

  <% if @user.posts.exists? %>
    <dt>Number of Posts:</dt>
    <dd> <%= @user.posts.count %> </dd>

    <dt>Last Post:</dt>
    <dd><%= ("#{time_ago_in_words(@user.posts.last.updated_at)} ago") if @user.posts %></dd>
  <% end %>

  <% if @user.comments.exists? %>
    <dt>Number of Comments:</dt>
    <dd><%= @user.comments.count %></dd>

    <dt>Last Comment:</dt>
    <dd><%= ("#{time_ago_in_words(@user.comments.last.updated_at)} ago") if @user.comments %></dd>
  <% end %>
</dl>

<%= render "form" %>

<% if @user.posts.exists? %>
  <strong>Posts:</strong>
  <ul class="list-unstyled">
  <% @user.posts.order(updated_at: :desc).each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
  </ul>
  <hr>
<% end %>
<%= link_to "Back", root_path %>
