<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= @post.title %>
      <div class="pull-right">
        <small>
          <%= "Posted by " %>
          <%= link_to @post.user.username, @post.user %>
          <%= "- #{@post.updated_at.strftime("%b %e, %Y")}" %>
        </small>
      </div>
    </h4>
  </div>
  <div class="panel-body">
    <%= raw sanitize(simple_format(@post.description), :tags => %w(br p) ) %>
    <hr>
    <% @comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= comment.description %>
          <div class="pull-right">
            comment by
            <strong><%= link_to comment.user.username, comment.user %></strong>
            <div class="text-muted text-right">
              <em><%= comment.created_at.strftime("%b %e, %Y") %></em>
            </div>
          </div>
        </div>
      </div>
    <% end %>

<%= link_to "Back", posts_path %> |
<%= link_to "Add Comment", new_post_comment_path(@post), id:"comment-new-action" %>
<% if current_user && (current_user.id == @post.user_id || current_user.is_moderator) %>
| <%= link_to "Edit Post", edit_post_path(@post), id:"post-edit-action" %> |
<%= link_to "Delete Post", post_path(@post), id:"post-delete-action", method: :delete, data:{confirm: "Are you sure?"} %>
<% end %>
  </div>
</div>
